src/__pycache__
*.pyc
src/graph1.dot
graph1.dot
src/parser.out
src/parsetab.py
src/pydot_graph.png
src/test.c
src/test.py
src/a
src/a.out
**/*.dot
**/*.out
**/*.png
**/*.o
*.dot
*.out
*.png
*.o
src/debug.txt
symbol_table_output.json
src/symbol_table_output.json
graph1.dot
pydot_graph.png
out.asm
**/out.asm
debug.txt
new.c
pydot_graph.png

